# Dependencies
node_modules/

# Build output
dist/
dist-app/

# TypeScript build
*.js
*.js.map
!electron-builder.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Electron
out/
